@media (orientation: portrait) {
    .header {
        max-height: 40vh;
    }
    .card {
        align-items: center;
        min-width: 90vw;
        min-height: 15vh;
    }
    .name {
        min-width: 600px;
        font-size: 40px !important;
        margin: auto;
    }
    .address, .work-hours {
        font-size: 30px !important;
        margin: auto;
    }
    .searchbar {
        min-width: 600px;
        min-height: 100px;
    }
    .search-btn {
        min-width: 150px;
        min-height: 100px;
    }
    .mail__ul {
        height: 100%;
    }
    .header--thin {
        animation-name: slideup;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
}

@keyframes moveacross {
    from {
        background-position-x: right;
    }
    to {
        background-position-x: left;
    }
}

@keyframes slideup {
    from {
        height: 40vh;
    }
    to {
        height: 12vh;
    }
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*  */
.header {
    min-height: 15vh;
    max-height: 40vh;
    background-image: url(static/doma-doubled.svg);
    background-color: #fdc78a;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 200%;
    animation-name: moveacross;
    animation-duration: 50s;
    animation-iteration-count: 1;
}

/*  */
.catalog-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.catalog-name h1 {
    margin: 0 auto;
    color: white;
    font-size: 70px;
}
.catalog-name p {
    margin: 0 auto;
    color: white;
    font-size: 45px;
}
/*  */
.main {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: auto;
}

.search {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.searchbar {
    width: 500px;
    height: 50px;
    background-color: #e4e4e4;
    border: none;
    border-radius: 50px;
    font-size: 35px;
    font-family: 'Trebuchet MS';
    padding-left: 20px;
}
.searchbar::placeholder {
    color: #9d9d9d;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}
.search-btn {
    height: 50px;
    width: 80px;
    background-color: #fdc78a;
    color: #cf8025;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    margin-left: 20px;
    cursor: pointer;
}
.categories-div {
    display: grid;
    margin: 10px auto;
    gap: 20px;
    width: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.category {
    height: 30px;
    /* min-width: 100px; */
    min-width: fit-content;
    border-radius: 15px;
    background-color: #fdc78a;
    color: #2e2e2e;
    font-size: 20px;
    padding: 0px 6px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}
.popular {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}
.main__ul {
    display: flex;
    flex-direction: column;
    height: 60vh;
    list-style: none;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    overflow-y: scroll;
}

.main__ul::-webkit-scrollbar {
    background-color: transparent;
}

.main__ul li {
    margin-bottom: 30px;
}

.card{
    display: flex;
    margin: auto;
    background-color: #e4e4e4;
    border-radius: 40px;
}

.card div {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 500px;
}

.address, .work-hours {
    color: #2e2e2e;
    margin: auto 0;
    font-size: 20px;
    padding-left: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}
.name {
    color: #2e2e2e;
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0 0 10px;
    font-family: 'Trebuchet MS';
}
.address img, .work-hours img {
    width: 20px;
    margin-right: 10px;
}

.call-btn {
    height: 50px;
    width: 50px;
    margin: auto 50px auto 0;
    background-color: transparent;
    border: none;
    background-image: url(static/call.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
